In [1]:
# Exercise 2

In [2]:
import math
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

import dtransform as dt

In [3]:
cus_data = pd.read_csv("datasets/customerChurn.csv")
cus_data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [4]:
# Attribute labels
attr_labels = []
for label in cus_data.columns:
    attr_labels.append(label)
    
# Instance labels
inst_labels = [i for i in range(len(cus_data.index))]

In [5]:
# Extract and remove class data
classes = cus_data.iloc[:, 20]
cus_data = cus_data.iloc[:, :20]

# Remove phone number but keep area code
cus_data = cus_data.drop(labels="Phone", axis=1)
cus_data.head()

,State,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,KS,128,415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [6]:
# Replace international plan and vmail plan attribute values
# no = 0, yes = 1
cus_data = cus_data.replace("no", 0)
cus_data = cus_data.replace("yes", 1)
cus_data.head()

,State,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,KS,128,415,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,OH,107,415,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,NJ,137,415,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,OH,84,408,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,OK,75,415,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [7]:
# Replace states with a numeric label
states_data = cus_data.iloc[:, 0]
states = set()
for item in states_data:
    states.add(item)
    
states = list(states)
print(states)
    
for i, item in enumerate(states):
    cus_data = cus_data.replace(item, i)
    
cus_data.head()

['AR', 'NC', 'ID', 'AK', 'DE', 'TX', 'AZ', 'LA', 'NE', 'MA', 'IN', 'MO', 'FL', 'AL', 'MN', 'MT', 'UT', 'SD', 'OK', 'KY', 'CT', 'ME', 'KS', 'VA', 'NJ', 'MD', 'NH', 'IL', 'WV', 'NV', 'PA', 'MI', 'RI', 'HI', 'CA', 'OH', 'DC', 'GA', 'MS', 'OR', 'WY', 'WA', 'VT', 'WI', 'SC', 'CO', 'NM', 'NY', 'TN', 'IA', 'ND']

,State,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,22,128,415,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,35,107,415,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,24,137,415,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,35,84,408,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,18,75,415,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [8]:
# Move account length attribute so that all non-categorical data is grouped (first 4 columns)
cols = list(cus_data.columns)
cols.remove("Account Length")
cols.append("Account Length")

cus_data = cus_data[cols]
cus_data.head()

,State,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Account Length
0,22,415,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,128
1,35,415,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,107
2,24,415,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,137
3,35,408,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,84
4,18,415,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,75

In [9]:
# Remove categorical data temporarily
cat_data = cus_data.iloc[:, :4]
cus_data = cus_data.iloc[:, 4:]

In [10]:
# Split data into training and test set
split_point = int(cus_data.shape[0] * 7/10)

train_num_data = cus_data.iloc[:split_point, :]
train_cat_data = cat_data.iloc[:split_point, :]
train_classes = classes[:split_point]

test_num_data = cus_data.iloc[split_point:, :]
test_cat_data = cat_data.iloc[split_point:, :]
test_classes = classes[split_point:]

In [11]:
# Normalize training data
mins = []
maxs = []
for _, item in train_num_data.items():
    mins.append(min(item))
    maxs.append(max(item))
    dt.normalise(item)
    
train_num_data.head()

/usr/lib/python3/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/conor/Documents/COMP3340/Assignments/P3/dtransform.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.iloc[i] = val

,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Account Length
0,0.490196,0.755701,0.666667,0.755701,0.502722,0.557692,0.502847,0.617508,0.368421,0.617337,0.500,0.157895,0.500000,0.111111,0.524793
1,0.509804,0.460661,0.745455,0.460597,0.496975,0.583333,0.497153,0.644550,0.458647,0.644582,0.685,0.157895,0.685185,0.111111,0.438017
2,0.000000,0.693843,0.690909,0.693830,0.272232,0.628205,0.272242,0.388626,0.466165,0.388854,0.610,0.263158,0.609259,0.000000,0.561983
3,0.000000,0.853478,0.430303,0.853454,0.092861,0.487179,0.092883,0.484249,0.353383,0.484211,0.330,0.368421,0.329630,0.222222,0.342975
4,0.000000,0.475200,0.684848,0.475184,0.354204,0.705128,0.354448,0.456370,0.593985,0.456347,0.505,0.157895,0.505556,0.333333,0.305785

In [12]:
# Discretise the training values, large amount of instances will take minutes to complete
splits = dt.discretise_dataset(train_num_data.iloc[:, :], classes, attr_axis=1)
train_num_data.head()

Total features =  15

,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Account Length
0,5.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,47.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# Normalise test data
for item, mini, maxi in zip(test_num_data.items(), mins, maxs):
    dt.normalise(item[1], mini, maxi, True)
    
test_num_data.head()

,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Account Length
2333,0.00000,0.412771,0.509091,0.412810,0.404416,0.826923,0.404626,0.580708,0.248120,0.580805,0.410,0.210526,0.409259,0.222222,0.061983
2334,0.00000,0.281642,0.587879,0.281690,0.349970,0.358974,0.350178,0.466964,0.473684,0.466873,0.500,0.210526,0.500000,0.333333,0.487603
2335,0.00000,0.449829,0.430303,0.449866,0.520266,0.653846,0.520285,0.405631,0.300752,0.405573,0.500,0.105263,0.500000,0.333333,0.508264
2336,0.72549,0.464652,0.648485,0.464621,0.851785,0.679487,0.851957,0.492891,0.323308,0.492879,0.580,0.263158,0.579630,0.111111,0.500000
2337,0.00000,0.517674,0.721212,0.517606,0.921053,0.679487,0.920996,0.352941,0.165414,0.352941,0.415,0.315789,0.414815,0.444444,0.570248

In [14]:
# Discretise test data
for i, item in enumerate(test_num_data.items()):
    dt.apply_splits(item[1], splits[i])
    
test_num_data.head()

,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Account Length
2333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2336,7.0,0.0,0.0,0.0,87.0,0.0,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2337,0.0,1.0,0.0,1.0,93.0,0.0,94.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
train_data = train_cat_data.join(train_num_data)
train_data.head()

,State,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Account Length
0,22,415,0,1,5.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,35,415,0,1,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,24,415,0,0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,35,408,1,0,0.0,47.0,0.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,18,415,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
test_data = test_cat_data.join(test_num_data)
test_data.head()

,State,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Account Length
2333,46,510,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2334,13,415,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2335,14,510,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2336,47,415,0,1,7.0,0.0,0.0,0.0,87.0,0.0,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2337,25,415,0,0,0.0,1.0,0.0,1.0,93.0,0.0,94.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Remove attributes with only 0 values
# Discretisation process had determined these attributes offer no information regarding the class value
keep = []
for i, col in train_data.items():
    delete = True
    for val in col:
        if val != 0:
            delete = False
            
    if not delete:
        keep.append(i)
        
train_reduced = train_data.filter(keep, axis=1)
train_reduced.head()

,State,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Charge,Eve Mins,Eve Charge,Intl Mins,Intl Charge
0,22,415,0,1,5.0,4.0,4.0,0.0,0.0,0.0,0.0
1,35,415,0,1,6.0,0.0,0.0,0.0,0.0,1.0,1.0
2,24,415,0,0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
3,35,408,1,0,0.0,47.0,46.0,0.0,0.0,0.0,0.0
4,18,415,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
test_reduced = test_data.filter(keep, axis=1)
test_reduced.head()

,State,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Charge,Eve Mins,Eve Charge,Intl Mins,Intl Charge
2333,46,510,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2334,13,415,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2335,14,510,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2336,47,415,0,1,7.0,0.0,0.0,87.0,88.0,0.0,0.0
2337,25,415,0,0,0.0,1.0,1.0,93.0,94.0,0.0,0.0